body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0a0a0a;
}

.trending-section,
.trending-movies-container {
  background-color: transparent !important;
  box-shadow: none;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}