.profile-page {
  width: 100%;
  background-color: #121212;
  color: #ffffff;
  font-family: 'Barlow', sans-serif;
  padding: 40px 0;
  min-height: calc(100vh - 80px);
}

.container {
  max-width: 1300px; 
  margin: 0 auto;
  padding: 0 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 40px;
  border-radius: 8px;
  margin: 90px 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-info h2 {
  margin: 0;
  font-size: 1.8rem;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px #000;
}

.stat-item {
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.stat-item:hover {
  transform: scale(1.05);
}

.stat-item h3 {
  margin: 0;
  font-size: 1.5rem;
}

.stat-item p {
  margin: 5px 0 0;
  color: #aaa;
  font-size: 0.9rem;
}

.clickable {
  cursor: pointer;
}

.favorites-container,
.watchlist-container {
  margin-top: 30px;
}

.favorites-list,
.watchlist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.favorite-movie,
.watchlist-movie {
  width: calc(20% - 20px);
  max-width: 185px;
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  padding: 10px;
}

.favorite-movie img,
.watchlist-movie img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.favorite-movie h3,
.watchlist-movie h3 {
  margin: 10px 0 0;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1200px) {
  .favorite-movie,
  .watchlist-movie {
    width: calc(25% - 20px);
  }
}

@media (max-width: 992px) {
  .favorite-movie,
  .watchlist-movie {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .profile-header {
      flex-direction: column;
      text-align: center;
  }
  .profile-avatar {
      margin: 0 auto 10px;
  }
  .stats-container {
      flex-direction: column;
      align-items: center;
  }
  .stat-item {
      margin-bottom: 10px;
  }
  .favorite-movie,
  .watchlist-movie {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .favorite-movie,
  .watchlist-movie {
    width: 100%;
  }
}