/* Styl ogólny dla wszystkich trzech sekcji sliderów */
.slider-section {
  padding: 5px 5px;
  background-color: #000002;
  
}
.slider-section-similar{
  padding: 5px 5px;
  background-color: transparent;
  max-width: 2000px;
}
/* Styl dla nagłówków w sekcji sliderów */
.slider-section h2 {
  font-size: 2rem;
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Styl dla kart w sliderze */
.slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

/* Styl kontenera obrazu w karcie */
.slider-image-container {
  width: 80%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

/* Styl samego obrazu w karcie */
.slider-image {
  width: 85%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

/* Efekt hover dla obrazu */
.slider-image:hover {
  transform: scale(0.95);
}

/* Styl dla tytułu filmu w karcie */
.slider-card h3 {
  font-size: 1.1rem;
  margin-top: 10px;
  text-align: center;
}
